@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Employees</h1>

<div>
    <h3>Mabel Gardiner Hubbard</h3>
    <img src="/Images/woman-1318942_640.png" />
    <p>
        Mabel Gardiner Hubbard Bell[1][2][3] (November 25, 1857 – January 3, 1923) was an American businesswoman, 
        and the daughter of Boston lawyer Gardiner Green Hubbard. She was the wife of Alexander Graham Bell, 
        inventor of the first practical telephone.

        From the time of Mabel's courtship with Graham Bell in 1873, until his death in 1922, Mabel became and 
        remained the most significant influence in his life.[1][4] Folklore held that Bell undertook 
        telecommunication experiments in an attempt to restore her hearing which had been destroyed by disease 
        close to her fifth birthday, leaving her completely deaf for the remainder of her life.
    </p>
</div>
<div>
    <h3>Marian Fairchild</h3>
    <img src="/Images/woman-1076012_640.png" />
    <p>
        American author, painter and botanical collector. Marian Hubbard Bell Fairchild was the wife of 
        Dr. David Fairchild, a mycologist, entomologist, plant pathologist, geneticist, administrator, and plant 
        explorer extraordinary, who was privileged to visit the far reaches of the earth at will and accomplish 
        the dreams and objectives of his life. Marion Bell Fairchild, nicknamed “Daisy”, was the daughter of 
        Alexander Graham Bell and shared her husband’s love of adventure and travel. Marion and David had a 
        rare fellowship of mind and heart founded on mutual respect and an intense absorption in the entire 
        world of science. Marion brought deep appreciation and devotion to her husband and a gift of close 
        association with her father. David described her as a perfect mate who shared his life and life’s work.
    </p>
</div>
<div>
    <h3>Alexander Melville Bell</h3>
    <img src="Images/man-1348412_640.png" />
    <p>
        Alexander Melville Bell (1 March 1819 – 7 August 1905) was a teacher and researcher of physiological 
        phonetics and was the author of numerous works on orthoepy and elocution.

        Additionally he was also the creator of Visible Speech which was used to help the deaf learn to talk, 
        and was the father of Alexander Graham Bell.
    </p>
</div>
<div>
    <h3>Elise May Grosvenor</h3>
    <img src="/Images/lady-1348396_640.png" />
    <p>
        Elsie May Bell Grosvenor was a woman of many accomplishments, known for her travels and expeditions 
        alongside her husband, Gilbert Hovey Grosvenor, the first editor of National Geographic Magazine. 
        She was born on May 8, 1878 in London, England, to Alexander Graham Bell, the inventor of the telephone, 
        and Mabel Gardiner Hubbard. Her parents were in London on an extended visit at the time, during which 
        Dr. Bell demonstrated his novel device to Queen Victoria.
    </p>
</div>
<div>
    <img src="/Images/lady-1348338_640.png" />
    <h3>Eliza Symonds</h3>
    <p>
        Eliza Symonds was a remarkable woman who overcame her deafness to become an accomplished musician 
        and painter. She was also the mother of Alexander Graham Bell, one of the most influential inventors 
        in history.

        Eliza Symonds was born on September 21, 1809, in Alverstoke, Hampshire, England. She was the daughter 
        of a naval officer and a descendant of John Hampden, a leader of the English Civil War. She grew up in 
        a cultured and educated family, and showed an early talent for music and art.
    </p>
</div>