@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Oldtimey Telegraph!</h1>

</div>
<div>
    <p>
        Esteemed Ladies and Gentlemen,

        In this age of progress and innovation, prompt and reliable communication is paramount.
        Our telegraph services offer the discerning individual a swift and secure means of correspondence.
        With our distinguished reputation and state-of-the-art technology, we cater exclusively to those of
        higher standing, ensuring that your messages are delivered with the utmost discretion and efficiency.
        Trust in our experience and connections, including esteemed associates of Mr. Alexander Graham Bell, to
        provide you with unparalleled service in your telegraphic needs. Join the forefront of modern
        communication and maintain your esteemed status with our premium telegraph services.
    </p>
</div>